body {
  font-family: sans-serif;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid grey;
  border-radius: 7px;
}

.header {
  background: rgb(28, 179, 121);
  text-align: center;
  width: 100%;
  color: #fff;
  padding: 15px 0;
  font-size: 24px;
}

form {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.inputText,
select {
  height: 35px;
  padding: 0 15px;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 5px 0 15px;
}

.inputText:focus {
  box-shadow: 0 0 1px 5px rgba(65, 168, 228, 0.5);
  border: 1px solid rgb(65, 168, 228);
}

.radio {
  margin-bottom: 15px;
}

.radio label {
  margin-right: 35px;
}

.btn {
  outline: none;
  border-radius: 3px;
  border: none;
  background-color: rgba(32, 167, 83, 0.5);
  padding: 15px 0;
  font-size: 24px;
  color: #fff;
  margin-top: 15px;
}

.btn:disabled {
  background-color: rgba(32, 167, 83, 0.5);
}
.btn:enabled {
  background-color: rgba(32, 167, 83, 0.9);
  cursor: pointer;
}

.btn:enabled:hover {
  background-color: rgba(32, 167, 83, 1);
}
/* ----------------------------- */
.box {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid grey;
  border-radius: 7px;
  text-align: center;
  display: none;
}

.box .header {
  width: 100%;
  background-color: rgb(40, 138, 84);
  height: 80px;
  position: relative;
}

.box .header img {
  width: 100px;
  border-radius: 50%;
  display: block;
}

.box .header img.man {
  /* display: none; */
}
.box .header img.woman {
  display: none;
}

.img {
  background: rgb(196, 196, 196);
  width: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 100;
}

.img-wrapper {
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin: 80px 0 15px;
}

.email {
  margin-bottom: 15px;
}

.btn-out {
  width: 100px;
  padding: 10px 0;
  font-size: 18px;
  color: rgb(40, 138, 84);
  background: #fff;
  border: 1px solid rgb(40, 138, 84);
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin: 35px 0 25px;
}

.btn-out:hover {
  background: rgb(40, 138, 84);
  color: #fff;
}

.footer {
  width: 100%;
  height: 50px;
  background: rgb(40, 138, 84);
}
